# Your API ID and Hash from https://my.telegram.org
API_ID = 122  # Replace with your API ID
API_HASH = "9273473e396ec66fa"  # Replace with your API Hash

# Variables for the bot
BOT_TOKEN="7415069:AAFz8MGVuXroPK4Rj21DBASnkg"  # Token from @BotFather

# Main target group/channel to forward messages to
MAIN_TARGET_GROUP = 1027097408  # Replace with your target group ID

# List of groups/channels to monitor (by ID)
MONITORED_GROUPS = 2367313733,4628376629,2426393828  # Replace with the specific group/channel IDs
ALLOWED_USERS = anonymous,2367313733,4628376629 #keep anonymous for letting channel admin that are private

LINKS = {"🚀 Buy On Bitfoot":"https://t.me/BitFootBot?start=buy=data"}
#,"Sell On BitFootBot":"https://t.me/BitFootBot?start=sell=data"