# Your API ID and Hash from https://my.telegram.org
API_ID = 847392  # Replace with your API ID
API_HASH = "79463876432"  # Replace with your API Hash

# Main target group/channel to forward messages to
MAIN_TARGET_GROUP = 2260267566  # Replace with your target group ID

# List of allowed users (usernames)
ALLOWED_USERS = SoliditySam,User2,User3

# List of groups/channels to monitor (by ID)
MONITORED_GROUPS = 4796838775,2260267566  # Replace with the specific group/channel IDs

LINKS = {"Buy On BitFootBot":"https://t.me/BitFootBot?start=buy=data","Sell On BitFootBot":"https://t.me/BitFootBot?start=sell=data"}