# Your API ID and Hash from https://my.telegram.org
API_ID = 1522  # Replace with your API ID
API_HASH = "92734b73e396ec66fa"  # Replace with your API Hash

# Variables for the bot
BOT_TOKEN="741569:AAFjboDPK4Rj21DBASnkg"  # Token from @BotFather
ADMIN_ID=102708  # Admin ID
BOT_USERNAME = "@Solana_bot"

# Main target group/channel to forward messages to
MAIN_TARGET_GROUP = 2260267566  # Replace with your target group ID

# List of allowed users (usernames)
ALLOWED_USERS = 1027097408,User2,User3

# List of groups/channels to monitor (by ID)
MONITORED_GROUPS = 4796838775  # Replace with the specific group/channel IDs

LINKS = {"Buy On BitFootBot":"https://t.me/BitFootBot?start=buy=data","Sell On BitFootBot":"https://t.me/BitFootBot?start=sell=data"}